[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
tornado = "==6.0.4"
slackclient = "==2.6.1"
python-dotenv = "==0.13.0"
dnspython = "==1.16.0"
redis = "==3.3.11"
celery= "==5.2.2"
pymongo = "==3.10.1"
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.8.0"
