[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
tornado = "==6.0.4"
celery = "==4.4.2"
redis = "==3.2.1"
slackclient = "==2.6.1"

[requires]
python_version = "3.8"
